<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>REST API for tfm</title>
    </head>
    <body>
        <h1>Trash Image classification REST API</h1>
        <p>by image</p>
        <form action="{{ url_for('upload') }}" method="POST"
            enctype = "multipart/form-data">
            <input type="file" name="inputimg" />
            <button type="submit">search</button>
        </form>
    </body>
</html>